<div class="container mt-4">
    <h2 class="text-center mb-4 fw-bold">🍿 Now Showing in Theatres</h2>
  
    <div *ngIf="loading" class="text-center">
      <div class="spinner-border"></div>
    </div>
  
    <div *ngIf="!loading && movies.length === 0" class="text-center text-muted">
      No movies available
    </div>
  
    <div class="row" >
      <div class="col-md-3 mb-4" *ngFor="let m of movies; let i=index" >
        <div class="card movie-card" (click)="goToMovieDetail(m._id)">
          <img  class="card-img-top" alt="{{ m.title }}"  [src]="m.image"/>
          <div class="card-body">
            <h5 class="card-title">{{ m.title }}</h5>
            <p class="text-muted">{{ m.genre }}</p>
            <p>⭐ {{ m.rating }}</p>
            <button class="btn btn-primary w-100" >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  